# Frontend Environment Variables
VITE_API_URL=http://localhost:4000

# Connected Supabase project
VITE_SUPABASE_URL=https://dzrmxbiewdjexljinnsv.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_DigKsra1Km8UKJpckUFpqQ_FSF4YIIO
